<div class="row">
    <div class="col-12">
        <div class="jumbotron">
          <h1 class="display-4">Friend Finder</h1>
          <p class="lead">Have no friends? Have no fear!</p>
          <hr class="my-4">
          <p>Answer our quick survey, and we'll show you your new best friend!</p>
          <a class="btn btn-primary btn-lg" href="/survey" role="button">Take the Survey!</a>
        </div>
    </div>
</div>