<div class="row">
    <div class="col-12">
        <h1>Survey</h1>
        <hr />
        <form>
            <h3>About you</h3>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Firstname Lastname">
            </div>
            <div class="form-group">
                <label for="photo">Link to Photo Image</label>
                <input type="text" class="form-control" id="photo" placeholder="www.example.com/image.jpg">
            </div>
            {{!-- Questions taken from https://psychcentral.com/quizzes/personality-test/ --}}
            <h3>Question 1</h3>
            <p>I see myself as extraverted, enthusiastic.</p>
            <div class="form-group">
                <select class="form-control survey-select" id="q-one">
                    <option value="1">Disagree Strongly</option>
                    <option value="2">Disagree Moderately</option>
                    <option value="3">Disagree a Little</option>
                    <option value="4">Neither Agree nor Disagree</option>
                    <option value="5">Agree a Little</option>
                    <option value="6">Agree Moderately</option>
                    <option value="7">Agree Strongly</option>
                </select>
            </div>
            <h3>Question 2</h3>
            <p>I see myself as critical, quarrelsome.</p>
            <div class="form-group">
                <select class="form-control survey-select" id="q-two">
                    <option value="1">Disagree Strongly</option>
                    <option value="2">Disagree Moderately</option>
                    <option value="3">Disagree a Little</option>
                    <option value="4">Neither Agree nor Disagree</option>
                    <option value="5">Agree a Little</option>
                    <option value="6">Agree Moderately</option>
                    <option value="7">Agree Strongly</option>
                </select>
            </div>
            <h3>Question 3</h3>
            <p>I see myself as dependable, self-disciplined.</p>
            <div class="form-group">
                <select class="form-control survey-select" id="q-three">
                    <option value="1">Disagree Strongly</option>
                    <option value="2">Disagree Moderately</option>
                    <option value="3">Disagree a Little</option>
                    <option value="4">Neither Agree nor Disagree</option>
                    <option value="5">Agree a Little</option>
                    <option value="6">Agree Moderately</option>
                    <option value="7">Agree Strongly</option>
                </select>
            </div>
            <h3>Question 4</h3>
            <p>I see myself as anxious, easily upset.</p>
            <div class="form-group">
                <select class="form-control survey-select" id="q-four">
                    <option value="1">Disagree Strongly</option>
                    <option value="2">Disagree Moderately</option>
                    <option value="3">Disagree a Little</option>
                    <option value="4">Neither Agree nor Disagree</option>
                    <option value="5">Agree a Little</option>
                    <option value="6">Agree Moderately</option>
                    <option value="7">Agree Strongly</option>
                </select>
            </div>
            <h3>Question 5</h3>
            <p>I see myself as open to new experiences, complex.</p>
            <div class="form-group">
                <select class="form-control survey-select" id="q-five">
                    <option value="1">Disagree Strongly</option>
                    <option value="2">Disagree Moderately</option>
                    <option value="3">Disagree a Little</option>
                    <option value="4">Neither Agree nor Disagree</option>
                    <option value="5">Agree a Little</option>
                    <option value="6">Agree Moderately</option>
                    <option value="7">Agree Strongly</option>
                </select>
            </div>
            <h3>Question 6</h3>
            <p>I see myself as reserved, quiet.</p>
            <div class="form-group">
                <select class="form-control survey-select"  id="q-six">
                    <option value="1">Disagree Strongly</option>
                    <option value="2">Disagree Moderately</option>
                    <option value="3">Disagree a Little</option>
                    <option value="4">Neither Agree nor Disagree</option>
                    <option value="5">Agree a Little</option>
                    <option value="6">Agree Moderately</option>
                    <option value="7">Agree Strongly</option>
                </select>
            </div>
            <h3>Question 7</h3>
            <p>I see myself as sympathetic, warm.</p>
            <div class="form-group">
                <select class="form-control survey-select" id="q-seven">
                    <option value="1">Disagree Strongly</option>
                    <option value="2">Disagree Moderately</option>
                    <option value="3">Disagree a Little</option>
                    <option value="4">Neither Agree nor Disagree</option>
                    <option value="5">Agree a Little</option>
                    <option value="6">Agree Moderately</option>
                    <option value="7">Agree Strongly</option>
                </select>
            </div>
            <h3>Question 8</h3>
            <p>I see myself as disorganized, careless.</p>
            <div class="form-group">
                <select class="form-control survey-select" id="q-eight">
                    <option value="1">Disagree Strongly</option>
                    <option value="2">Disagree Moderately</option>
                    <option value="3">Disagree a Little</option>
                    <option value="4">Neither Agree nor Disagree</option>
                    <option value="5">Agree a Little</option>
                    <option value="6">Agree Moderately</option>
                    <option value="7">Agree Strongly</option>
                </select>
            </div>
            <h3>Question 9</h3>
            <p>I see myself as calm, emotionally stable.</p>
            <div class="form-group">
                <select class="form-control survey-select" id="q-nine">
                    <option value="1">Disagree Strongly</option>
                    <option value="2">Disagree Moderately</option>
                    <option value="3">Disagree a Little</option>
                    <option value="4">Neither Agree nor Disagree</option>
                    <option value="5">Agree a Little</option>
                    <option value="6">Agree Moderately</option>
                    <option value="7">Agree Strongly</option>
                </select>
            </div>
            <h3>Question 10</h3>
            <p>I see myself as conventional, uncreative.</p>
            <div class="form-group">
                <select class="form-control survey-select" id="q-ten">
                    <option value="1">Disagree Strongly</option>
                    <option value="2">Disagree Moderately</option>
                    <option value="3">Disagree a Little</option>
                    <option value="4">Neither Agree nor Disagree</option>
                    <option value="5">Agree a Little</option>
                    <option value="6">Agree Moderately</option>
                    <option value="7">Agree Strongly</option>
                </select>
            </div>
            <button type="button" class="btn btn-primary" id="submitBtn" onclick="getValues()" data-toggle="modal" data-target="#exampleModal">Submit</button>
        </form>
    </div>
</div>
{{!-- modal --}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="name-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img id="match-picture" height="300"/>
      </div>
    </div>
  </div>
</div>
<script src="public/survey.js"></script>