<div class="row">
    <div class="col-12">
        <h1>Survey</h1>
        <hr />
        <form>
            <h3>About you</h3>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Firstname Lastname">
            </div>
            <div class="form-group">
                <label for="photo">Link to Photo Image</label>
                <input type="text" class="form-control" id="photo" placeholder="www.example.com/image.jpg">
            </div>
            <h3>Question 1</h3>
            <p>Lorem ipsum dolor?</p>
            <div class="form-group">
                <select class="form-control survey-select" id="q-one">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                    <option value="5">Option 5</option>
                </select>
            </div>
            <h3>Question 2</h3>
            <p>Lorem ipsum dolor?</p>
            <div class="form-group">
                <select class="form-control survey-select" id="q-two">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                    <option value="5">Option 5</option>
                </select>
            </div>
            <h3>Question 3</h3>
            <p>Lorem ipsum dolor?</p>
            <div class="form-group">
                <select class="form-control survey-select" id="q-three">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                    <option value="5">Option 5</option>
                </select>
            </div>
            <h3>Question 4</h3>
            <p>Lorem ipsum dolor?</p>
            <div class="form-group">
                <select class="form-control survey-select" id="q-four">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                    <option value="5">Option 5</option>
                </select>
            </div>
            <h3>Question 5</h3>
            <p>Lorem ipsum dolor?</p>
            <div class="form-group">
                <select class="form-control survey-select" id="q-five">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                    <option value="5">Option 5</option>
                </select>
            </div>
            <h3>Question 6</h3>
            <p>Lorem ipsum dolor?</p>
            <div class="form-group">
                <select class="form-control survey-select"  id="q-six">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                    <option value="5">Option 5</option>
                </select>
            </div>
            <h3>Question 7</h3>
            <p>Lorem ipsum dolor?</p>
            <div class="form-group">
                <select class="form-control survey-select" id="q-seven">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                    <option value="5">Option 5</option>
                </select>
            </div>
            <h3>Question 8</h3>
            <p>Lorem ipsum dolor?</p>
            <div class="form-group">
                <select class="form-control survey-select" id="q-eight">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                    <option value="5">Option 5</option>
                </select>
            </div>
            <h3>Question 9</h3>
            <p>Lorem ipsum dolor?</p>
            <div class="form-group">
                <select class="form-control survey-select" id="q-nine">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                    <option value="5">Option 5</option>
                </select>
            </div>
            <h3>Question 10</h3>
            <p>Lorem ipsum dolor?</p>
            <div class="form-group">
                <select class="form-control survey-select" id="q-ten">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                    <option value="5">Option 5</option>
                </select>
            </div>
            <button type="button" class="btn btn-primary" id="submitBtn" onclick="getValues()" data-toggle="modal" data-target="#exampleModal">Primary</button>
        </form>
    </div>
</div>
{{!-- modal --}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script src="public/survey.js"></script>